В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки далее задачи разбиты на шаги. В некоторых из них также можно встретить небольшие подсказки. Желаем успехов! :)

Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv, находящийся по ссылке, с разделителем ;  и сохраните в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head.

In [1]:
import pandas as pd
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [2]:
bookings.shape

(119390, 21)

К какому типу относится большинство переменных?

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

Могут пригодиться: 

    rename
    str.lower
    str.replace
    columns

Данные уже сохранены в bookings.

In [3]:
new = []
for c in bookings.columns:
  new.append(c.lower().replace(' ', '_'))
bookings.columns = new
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [4]:
bookings[:5]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [5]:
bookings.loc[(bookings['is_canceled'] == 0)].groupby('country',  sort = False)['country'] \
        .count().reset_index(name ='count') \
        .sort_values(by = 'count',  ascending=False)[:5]

   country  count
0      PRT  21071
1      GBR   9676
5      FRA   8481
3      ESP   6391
11     DEU   6069

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.


Может пригодиться: round

In [6]:
bookings.groupby('hotel')['hotel', 'stays_total_nights'].mean('stays_total_nights').round(2)

<ipython-input-6-2f2f395917df>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bookings.groupby('hotel')['hotel', 'stays_total_nights'].mean('stays_total_nights').round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается

In [7]:
bookings[['is_canceled','assigned_room_type', 'reserved_room_type']].query('assigned_room_type != reserved_room_type')

        is_canceled assigned_room_type reserved_room_type
2                 0                  C                  A
12                0                  E                  D
15                0                  E                  D
17                0                  E                  A
18                0                  G                  A
...             ...                ...                ...
119273            0                  K                  A
119274            0                  K                  A
119289            0                  F                  E
119297            0                  F                  D
119357            0                  D                  A

[14917 rows x 3 columns]

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [8]:
bookings[['is_canceled','arrival_date_month', 'arrival_date_year']] \
        .query('arrival_date_year == 2016 & is_canceled == 0') \
        .groupby('arrival_date_month')['arrival_date_month'] \
        .count().reset_index(name ='count') \
        .sort_values(by = 'count',  ascending=False)

   arrival_date_month  count
10            October   3689
8                 May   3563
11          September   3372
0               April   3367
7               March   3347
1              August   3238
6                June   3196
5                July   3073
9            November   2818
3            February   2554
2            December   2462
4             January   1691

In [9]:
bookings[['is_canceled','arrival_date_month', 'arrival_date_year']] \
        .query('arrival_date_year == 2017 & is_canceled == 0') \
        .groupby('arrival_date_month')['arrival_date_month'] \
        .count().reset_index(name ='count') \
        .sort_values(by = 'count',  ascending=False)

  arrival_date_month  count
7                May   3551
4               July   3329
6              March   3298
5               June   3208
0              April   3198
1             August   3109
2           February   2818
3            January   2431

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :) Например:

df.groupby('column_1')['column_2'].what_to_do()

In [15]:
bookings[['is_canceled','arrival_date_month', 'arrival_date_year']] \
        .query('is_canceled == 1') \
        .groupby(['arrival_date_month', 'arrival_date_year'])['arrival_date_month'] \
        .count().reset_index(name ='count').sort_values(by = ['arrival_date_year', 'count'],  ascending=False)

   arrival_date_month  arrival_date_year  count
19                May               2017   2762
1               April               2017   2463
15               June               2017   2439
13               July               2017   1984
4              August               2017   1816
17              March               2017   1672
8            February               2017   1359
10            January               2017   1250
23            October               2016   2514
14               June               2016   2096
0               April               2016   2061
25          September               2016   2022
18                May               2016   1915
3              August               2016   1825
21           November               2016   1636
12               July               2016   1499
16              March               2016   1477
6            December               2016   1398
7            February               2016   1337
9             January               2016    557
24          September               2015   2094
22            October               2015   1732
2              August               2015   1598
11               July               2015   1259
5            December               2015    973
20           November               2015    486

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [17]:
bookings[['adults','children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

    City hotel – отель находится в городе
    Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [36]:
bookings[['hotel','children', 'babies']] \
        .eval("total_kids = {}".format("+".join(['children', 'babies']))) \
        .groupby(['hotel']).mean().round(2)

              children  babies  total_kids
hotel
City Hotel        0.09    0.00        0.10
Resort Hotel      0.13    0.01        0.14

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

Для клиентов с детьми:

In [49]:
round((bookings[['is_canceled','children', 'babies']] \
      .eval("total_kids = {}".format("+".join(['children', 'babies']))) \
      .query('is_canceled == 1 & total_kids >= 1')['total_kids'].count()/ \
      bookings[['is_canceled','children', 'babies']] \
      .eval("total_kids = {}".format("+".join(['children', 'babies']))) \
      .query('total_kids >= 1')['total_kids'].count())*100, 2)

34.92

Для клиентов без детей:

In [50]:
round((bookings[['is_canceled','children', 'babies']] \
      .eval("total_kids = {}".format("+".join(['children', 'babies']))) \
      .query('is_canceled == 1 & total_kids == 0')['total_kids'].count()/ \
bookings[['is_canceled','children', 'babies']] \
      .eval("total_kids = {}".format("+".join(['children', 'babies']))) \
      .query('total_kids == 0')['total_kids'].count())*100, 2)

37.22